body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA500;
    height: auto;
}

.titulo {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Permanent Marker';
    margin: 30px 0;
    color: #0000FF;
    text-shadow: 0 0 0.2em #FF0000, 0 0 0.2em #FF0000;
    letter-spacing: 5px;
}

.jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.jogo h2 {
    font-size: 36px;
    color: #FF0000;
    text-shadow: 0 0 0.2em #0000FF, 0 0 0.2em #0000FF;

    font-family: 'Permanent Marker';
    margin-bottom: 20px;
}

.buttonReset {
    font-size: 24px;
    font-family: 'Permanent Marker';
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #8B4513;
    color: cornsilk;
}

.jogo__textWin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 20px;
}

.jogo__tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.jogo__tela div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-family: 'Permanent Marker';
    font-weight: 500;
    text-shadow: 0 0 0.2em #FF0000, 0 0 0.2em #FF0000;
    color: honeydew;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.jogo__tela ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
}

.jogo__player {
    background-color: #8B4513;
    width: 90vw;
    height: 40vh;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.jogo__computer {
    background-color: #8B4513;
    width: 90vw;
    height: 40vh;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.jogo__player img:hover {
    border: 5px solid #FF0000;
    cursor: pointer;
}

.jogo__tela img{
    display: block;
    width: 100px;
    height: 100px;
}

.jogo__tela p{
    text-align: center;
    font-size: 60px;
    font-family: 'Permanent Marker';
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 5px;
    text-shadow: 0 0 0.2em #0000FF, 0 0 0.2em #0000FF;
    color: #FF0000;
}

@media screen and (min-width: 800px) {
    body{
        justify-content: center;
        background-image: url('/img/jaken_kakashi_e_gai.gif');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    .jogo__tela {
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
        height: 40vh;
    }

    .titulo {
        font-size: 60px;
        margin: 0;
        color: #FFA500
    }

    .jogo__player {
        width: 350px;
        height: 250px;
    }

    .jogo__computer{
        width: 350px;
        height: 250px;
    }

    .jogo__tela p {
        font-size: 50px;
    }
}

@media screen and (min-width:1024px) {
    .titulo {
        font-size: 70px;
    }

    .jogo__player {
        width: 450px;
        height: 250px;
    }

    .jogo__computer{
        width: 450px;
        height: 250px;
    }
    .jogo__tela p {
        font-size: 60px;
    }
}